<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-header>
      <ion-row>
        <ion-col>Producto</ion-col>
        <ion-col>Precio</ion-col>
        <ion-col>Peso Bruto</ion-col>
        <ion-col>Peso Neto</ion-col>
        <ion-col>Unidad</ion-col>
        <ion-col>Factor Corección</ion-col>
        <ion-col>Costo X U. Real</ion-col>
        <ion-col>Prueba</ion-col>
      </ion-row>
    </ion-header>
    <ion-item *ngFor="let item of items">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2 item-left><b> {{item.name}} </b> </h2>
          </ion-col>
          <ion-col>
            <h2 item-left><b> {{item.price | currency: 'USD': true }} </b> </h2>
          </ion-col>
          <ion-col>
            <h2 item-left><b> {{item.grossweight}} </b> </h2>
          </ion-col>
          <ion-col>
            <h2 item-left><b> {{item.netweight}} </b> </h2>
          </ion-col>
          <ion-col>
            <h2 item-left><b> {{item.unity}} </b> </h2>
          </ion-col>
          <ion-col>
            <h2 item-left><b> {{item.priceperunity}} </b> </h2>
          </ion-col>
          <ion-col>
            <h2 item-left><b> {{item.correctionfactor}} </b> </h2>
          </ion-col>
          <ion-col>
            <h2 item-left><b> {{item.priceperrealunity}} </b> </h2>
          </ion-col>
          <ion-col>
            <h2 item-right><em> {{ item.test | currency: 'USD': true }} </em></h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <br>
  <ion-fab right bottom>
    <button ion-fab color="warning" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.name}}</b>
  </div>
</ion-content>
